{% extends 'base.html.twig' %}


{% block body %}

<div class="row mb-3"><h1>Détails de l'annonce n°{{ ad.id }}</h1></div>
    <div class="row">
        <div class="col-6">
            <img class="card-img mb-4" src="https://static.vecteezy.com/system/resources/previews/000/101/237/non_2x/free-abstract-background-11-vector.jpg" alt="Card image cap">
            <a href="#" class="btn btn-warning">Répondre à cette annonce</a>
        </div>
        <div class="col-6">
            <div class="card" style="width: 31rem; margin:auto;">
                <div class="card-body">
                    <h3 class="card-title">{{ ad.title }}</h3>
                    <p class="card-text"><h5>{{ ad.price }} €</h5></p>
                </div>
                    <ul class="list-group list-group-flush">
                    </ul>
                        <li class="list-group-item bg-dark text-white">Description</li>
                        <li class="list-group-item">{{ ad.description }}</li>
                        <li class="list-group-item bg-dark text-white">Localisation</li>
                        <li class="list-group-item">{{ ad.city }} - {{ ad.zip }}</li>
                        <li class="list-group-item bg-dark text-white">Publiée le</li>
                        <li class="list-group-item">{{ ad.datecreated|date }}</li>
                    </ul>
            </div>
        </div>


    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}
