{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mb-3"><h1>Connectez-vous à votre compte</h1></div>

    <div class="container col-8">

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post" class="form-group">
            <label for="username">Utilisateur :</label>
            <input class="form-control mb-3" type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Mot de passe :</label>
            <input class="form-control mb-3" type="password" id="password" name="_password" />

            <input class="form-control" type="hidden" name="_target_path" value="{{ path('homepage') }}" />
            <div align="right">
                <a href="{{ path('user_registration') }}">(Vous n'avez pas de compte ?)</a>
                &nbsp;
                <button class="btn btn-primary" type="submit">Connexion</button>
            </div>
        </form>

    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}
